# 说明文件
.explain

# 本地存储的头像和文件
assets/pics/avatars/*
!assets/pics/avatars/default_admin.jpg
!assets/pics/avatars/default_user.jpg
assets/pics/photos/children/*
!assets/pics/photos/children/default_child_photo.jpg
assets/pics/photos/coaches/*
!assets/pics/photos/coaches/default_coach_photo.jpg
assets/pics/signs/*
assets/tms
assets/tps

######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### vscode ###
.vscode

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml
### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml